# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv

# Virtualenv
venv/
.env/
.venv/

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo

# Static / Media
staticfiles/
media/

# IDEs
.vscode/
.idea/